*{
    box-sizing: border-box;
}
body {
    background-color: rgb(167, 239, 167);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode',
     Geneva, Verdana, sans-serif;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: 0;
overflow-x: hidden;
}
h1 {
  margin: 10px;
}
.box {
 background-color: rgb(7, 115, 79);
 color: white;
 display: flex;
 align-items: center;
     justify-content: center;
     width: 400px;
     height: 200px;
     margin: 10px;
     border-radius: 10px;
     box-shadow: 2px 4px 5px rgba 0,0,0,3;
     transform : translatex (-400%);
     transition: transform 0.4s;
     text-align: center;
}

.box:nth-of-type(even){
    transform : translatex (-400%);
}
.box .show {
    transition: transform (0);}
.box h2 {
    font-size: 45px;}
